* {margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
 
#board { padding: 0px; margin: 0 auto; margin-top: 25px; }
#board tr td { width: 80px; height: 80px; border: 1px solid #1c1c1c; 
							 font-family: Helvetica; text-align: center; font-size: 30px; }
#board tr td:hover { background: #e4e4e4; cursor: pointer; }